<form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <h3>Registration</h3>

  <div class="form-group">
    <label class="center-block">Name:
      <input type="text" class="form-control" formControlName="name">
    </label>
    <label class="center-block">Email:
      <input type="email" class="form-control" formControlName="email">
    </label>
    <label class="center-block">Password:
      <input class="form-control" type="password" formControlName="password">
    </label>
  </div>
  <p>Form value: {{ registrationForm.value | json }}</p>
  <p>Form status: {{ registrationForm.status | json }}</p> 
  
  <button type="submit" class="btn btn-default">Sign up</button>
  <button type="button" class="btn btn-default" routerLink="/login">To Login</button>
</form>
